/*
 * File: globle.less
 * File Created: 2018-03-26 7:28:39 pm
 * Author: zhanghuancheng555 (1052745517@qq.com)
 * Copyright: 2017 - 2018 Your Company, Your Company
 * -----
 * Last Modified: 2018-03-27 8:28:47 pm
 * Modified By: zhanghuancheng555 (1052745517@qq.com>)
 */

.el-menu {
  border-right: 0;
}

.el-dropdown-menu {
  min-width: 96px;
}

.el-breadcrumb {
  font-size: 12px;
}
